/* VARIABLES */
$azul1: #1389F7;
$azul2: #4AC3FF;
$azul3: #3b5998;
$azul4: #1F489A;
/*************/
@mixin border-radius($radius){
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	-ms-border-radius:$radius;
	-o-border-radius:$radius;
	border-radius:$radius;
}
@mixin box-shadow($p1,$p2,$p3,$r,$g,$b,$a){
	-webkit-box-shadow: inset #{$p1}px #{$p2}px #{$p3}px rgba($r,$g,$b,$a);
	-moz-box-shadow: inset #{$p1}px #{$p2}px #{$p3}px rgba($r,$g,$b,$a);
	box-shadow: inset #{$p1}px #{$p2}px #{$p3}px rgba($r,$g,$b,$a);
}
@mixin background-gradient($from,$to) {
	background-image: -khtml-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -ms-linear-gradient(top, $from, $to);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom,$from, $to);
}
@mixin transition($prop,$time,$type){
	-ms-transition: $prop $time $type;
	-moz-transition: $prop $time $type;
	-o-transition: $prop $time $type;
	-webkit-transition: $prop $time $type;
	transition: $prop $time $type;
}
@mixin opacity($n) {
	filter: alpha(opacity=$n*10);
	-khtml-opacity: $n;
	-moz-opacity: $n;
	opacity: $n;
}