<div class="admin">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#admin">Overview</a></li>
        <li><a href="#newparty">Create party</a></li>
        <li><a href="#">Delete party</a></li>
    </div>
    <div class="col-sm-9 main">
      <h1 class="page-header">Dashboard</h1>

      <h2 id="parties" class="sub-header">Parties</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
              <th>Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor</td>
              <td>sit</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>